/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}


/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
}

.logo-title {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.logo-subtitle {
    margin: 2px 0 0;
    font-size: 8px;
    color: white;
    letter-spacing: 3px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.btn {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.list-btn {
    background-color:white ;
    color: black;
    border: none;
}

.find-btn {
    background-color:teal ;
    color: white;
    border: none;
}

.menu a {
    text-decoration: none;
}
